*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

.container {
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 0fr 9.9fr; 
    gap: 0px 0px; 
  }
  .category { 
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: .5px solid #7773;
   
    overflow: hidden;
    overflow-y: scroll;
    
}
  .content { grid-area: 1 / 2 / 2 / 3; }

.category::-webkit-scrollbar{
    width: 7px;
  
  
}


.category::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color:#7777;  
}
.category::-webkit-scrollbar-thumb:hover{
    transition: 1s;
    background-color:#7779;  
}




.category-list{
    margin-top: 82px;
    padding-left: 52px;
    padding-right: 10px;
    width: max-content;
    padding-right: 2px;
}

.cardtitleActive{
    color: #FC3CAC;
}
.cardtitle{  
    font-weight: bold;
}
.cattitle:hover{
    transition: .1s;
    font-weight: 600;
    color: #FC3CAC;
    border-bottom: 1.5px solid #FC3CAC;
}
/* .content{
    overflow-y: scroll;
} */

.navbar{
    
    background:rgba(0,0,0,0.9);
    backdrop-filter: blur(20px);
    z-index: 1;
}

.card-title:hover{
    color: #FC3CAC;
    font-weight: 800;
}








                         

