.container {
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 2.1fr 9.9fr; 
    gap: 0px 0px; 
  }
  .category { 
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: .5px solid #7773;
    /* border-image: linear-gradient( #DC4B9C,#4B6EB5); */
    /* border-image-slice: 1; */
    overflow: hidden;
    overflow-y: scroll;
    
}
  .content { grid-area: 1 / 2 / 2 / 3; }

.category::-webkit-scrollbar{
    width: 7px;
  
  
}


.category::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color:#7777;  
}
.category::-webkit-scrollbar-thumb:hover{
    transition: 1s;
    background-color:#7779;  
}




.category-list{
    margin-top: 82px;
    padding-left: 52px;
    padding-right: 10px;
    width: max-content;
    padding-right: 2px;
}
/* .cat-list{
    width: 100%;
} */
.card-title{  
    font-weight: bold;

}
.cat-title:hover{
    transition: .1s;
    font-weight: 600;
    color: #FC3CAC;
    border-bottom: 1.5px solid #FC3CAC;
}
.content{
    overflow-y: scroll;
}

.navbar{
    /* backdrop-filter: blur(8px); */
    background: black;
    z-index: 1;
}

.card-title:hover{
    color: #FC3CAC;
    font-weight: 800;
}








                         

