.container {
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 2.2fr 9.8fr; 
    gap: 0px 0px; 
  }
  .category { 
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid transparent;
    border-image: linear-gradient( #DC4B9C,#4B6EB5);
    border-image-slice: 1;
    overflow: hidden;
    overflow-y: scroll;}
  .content { grid-area: 1 / 2 / 2 / 3; }


/* .category{
    
    height: 100vh;
        width: max-content;
        border-right: 1px solid transparent;
        border-image: linear-gradient( #DC4B9C,#4B6EB5);
        border-image-slice: 1;
        overflow: hidden;
        overflow-y: scroll;
    
    
} */

.category::-webkit-scrollbar{
    width: 4px;
}

.category::-webkit-scrollbar-thumb{
    background-color: whitesmoke;
    border-radius: 20px;
}


.category::-webkit-scrollbar-thumb:hover{
    background:linear-gradient( #FC3CAC,#4B6EB5);
}


.category-list{
    margin-top: 82px;
    padding-left: 52px;
    padding-right: 10px;
    width: max-content;
    padding-right: 2px;
}
/* .cat-list{
    width: 100%;
} */
.card-title{  
    font-weight: bold;

}
.cat-title:hover{
    font-weight: 600;
    color: #FC3CAC;
    border-bottom: 1px solid #FC3CAC;
}
.content{
    /* flex: 5; */
    /* display: flex;
    flex-direction: column;
    width: 100%; */
    overflow-y: scroll;
    
}

.navbar{
    /* backdrop-filter: blur(8px); */
    background: black;
    z-index: 1;
}

.card-title:hover{
    color: #FC3CAC;
    font-weight: 800;
}






                         

